---
layout: default
---

<!-- crypto.html -->
<div class="post">
    <div class="clearfix">
        {{ content }}
      </div>
    <article>
        {%- if page.social %}
        <!-- Social -->
        <div class="social">
            <div class="contact-icons">
                {% include social.html %}
            </div>

            <div class="contact-note">
                {{ site.contact_note }}
            </div>
        </div>
        {%- endif %}
    </article>
</div>
<script async data-uid="64bf113e0a" src="https://witty-motivator-4876.ck.page/64bf113e0a/index.js"></script>