---
layout: default
---

<!-- growth.html -->

<header class="post-header">
    <p class="post-description">{{ page.description }}</p>
  </header>

  <div class="row">
    <div class="col-sm">
        {% include figure.html path="assets/img/display_pic.png" title="Blaine" class="display-pic-img rounded z-depth-1" %}
    </div>
  </div>

<div class="post">
    <div class="clearfix">
        {{ content }}
      </div>
    <article>
        {%- if page.social %}
        <!-- Social -->
        <div class="social">
            <div class="contact-icons">
                {% include social.html %}
            </div>

            <div class="contact-note">
                {{ site.contact_note }}
            </div>
        </div>
        {%- endif %}
    </article>

</div>