---
layout: default
---
<!-- newsletter.to.html -->
<div class="post">
    <script async data-uid="b208b8a00c" src="https://witty-motivator-4876.kit.com/b208b8a00c/index.js"></script>
    <div class="clearfix">
        {{ content }}
      </div>
    <article>
        {%- if page.social %}
        <!-- Social -->
        <div class="social">
            <div class="contact-icons">
                {% include social.html %}
            </div>

            <div class="contact-note">
                {{ site.contact_note }}
            </div>
        </div>
        {%- endif %}
    </article>
</div>